@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
 
  --color-primary: #374151;
  --color-yellow: #fdf600;
}

.container {
  max-width: 430px; /* Mobile */
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px; /* Tablet */
    .grid {
      grid-template-columns: repeat(2, 1fr); /* Two columns */
    }
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px; /* Desktop */
    .grid {
      grid-template-columns: repeat(3, 1fr); /* Three columns */
    }
  }
}
