@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --color-primary: #374151;
  --color-primary-800: #00395e;
  --color-yellow: #fdf600;
  --color-blue: #0054a5;
  --color-blue-50: #f6fbff;
  --color-grey-50: #d7d9dc;
  --color-grey-100: #374151;
}

@layer utilities {
  .grid-cols-responsive {
    @apply grid grid-cols-1;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
